{:kotoba.app/id "cloud.itonami.isic-8730", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihowrphypjxikpo3pj6drxsxnrdycfyeukrw4rinwwrdxx6hygmmy", :kotoba.app/embed-url "ipfs://bafkreihowrphypjxikpo3pj6drxsxnrdycfyeukrw4rinwwrdxx6hygmmy", :published {:archive "https://kotobase.net/ipfs/bafkreihowrphypjxikpo3pj6drxsxnrdycfyeukrw4rinwwrdxx6hygmmy", :size 73468, :put-status 201, :get-status 200, :at "2026-08-15T13:49:41.753Z"}}
